:root,
body,
.v-application {
    font-family: 'IBM Plex Sans JP';
    font-weight: 500;
    font-style: normal;
    color: rgb(var(--v-theme-main-color))
}

* {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.v-btn, .v-app-bar {
    user-select: none;
}